{% extends "base.html" %}
{% block title %} login {% endblock %} 
{% block contents %} 


<!-- login form -->
<div class="signin">
  <form class="form-signin" action="#" method="post">
    <div class="text-center mb-4"> 
      <img class="mb-4" src="static\assets\img\login.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    </div>
  
    <div class="form-label-group">
      <label for="inputEmail">Email address</label>
      <input type="email" id="inputEmail" name="uname" class="form-control" placeholder="Email address" required autofocus>
    </div>
  
    <div class="form-label-group">
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" name="psw" class="form-control" placeholder="Password" required>
    </div>
  
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2024</p>
  </form>
</div>

{% endblock %}
